<clickhouse>
    <zookeeper>
{% for host in groups['clickhouse_keeper'] %}
        <node>
            <host>{{ hostvars[host].ansible_host }}</host>
            <port>9181</port>
        </node>
{% endfor %}
        <session_timeout_ms>30000</session_timeout_ms>
        <operation_timeout_ms>10000</operation_timeout_ms>
    </zookeeper>
</clickhouse>
