<clickhouse>
    <remote_servers>
        <production_cluster>
            <shard>
                <internal_replication>true</internal_replication>
{% for host in groups['clickhouse'] %}
                <replica>
                    <host>{{ hostvars[host].ansible_host }}</host>
                    <port>9000</port>
                </replica>
{% endfor %}
            </shard>
        </production_cluster>
    </remote_servers>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
</clickhouse>
