# ----------  GLOBAL ----------
global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048
    stats socket /run/haproxy/admin.sock mode 600 level admin
    stats timeout 30s

# ----------  DEFAULTS ----------
defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m
    retries  3

# ----------  FRONTS ----------
frontend api
    bind *:6443
    default_backend okd_masters

frontend machine_config
    bind *:22623
    default_backend okd_masters_mcd

frontend https_apps
    bind *:443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend okd_apps_https if { req.ssl_sni -m end .dev.devreon.dev }
    default_backend rke2_gateway_https

frontend http_apps
    bind *:80
    default_backend rke2_gateway_http

# ----------  BACKENDS ----------
backend okd_masters
    mode tcp
    balance roundrobin
    server okd-master-0 192.168.150.100:6443 check
    server okd-master-1 192.168.150.101:6443 check
    server okd-master-2 192.168.150.102:6443 check

backend okd_masters_mcd
    mode tcp
    balance roundrobin
    server okd-master-0 192.168.150.100:22623 check
    server okd-master-1 192.168.150.101:22623 check
    server okd-master-2 192.168.150.102:22623 check

backend rke2_gateway_http
    mode tcp
    server rke2-gateway {{ envoy_gateway_ip | default('192.168.150.210') }}:80 check

backend rke2_gateway_https
    mode tcp
    server rke2-gateway {{ envoy_gateway_ip | default('192.168.150.210') }}:443 check

backend okd_gateway_https
    mode tcp
    server okd-gateway 192.168.150.200:443 check

backend okd_apps_http
    mode tcp
    balance roundrobin
    server okd-worker-0 192.168.150.103:80 check
    server okd-worker-1 192.168.150.105:80 check
    server okd-worker-2 192.168.150.153:80 check
    server okd-worker-3 192.168.150.154:80 check
    server okd-worker-4 192.168.150.155:80 check

backend okd_apps_https
    mode tcp
    balance roundrobin
    server okd-worker-0 192.168.150.103:443 check
    server okd-worker-1 192.168.150.105:443 check
    server okd-worker-2 192.168.150.153:443 check
    server okd-worker-3 192.168.150.154:443 check
    server okd-worker-4 192.168.150.155:443 check

# ----------  PostgreSQL ----------
frontend postgresql
    bind *:5432
    mode tcp
    default_backend postgresql_back

backend postgresql_back
    mode tcp
    balance roundrobin
    option tcp-check
    server postgresql-01 {{ postgresql_host | default('192.168.150.121') }}:5432 check
