#cloud-config
hostname: {{ item.name }}
fqdn: {{ item.name }}.local
manage_etc_hosts: true
users:
  - name: root
    ssh_authorized_keys:
      - {{ ssh_public_key }}
    lock_passwd: false
chpasswd:
  list: |
    root:{{ root_password | default('kafka123') }}
  expire: False
ssh_pwauth: True
package_update: true
packages:
  - curl
  - wget
  - vim
  - htop
  - net-tools
  - openjdk-21-jdk-headless
runcmd:
  - systemctl restart ssh
