#cloud-config
hostname: {{ item.name }}
fqdn: {{ item.name }}.local
manage_etc_hosts: true
{% if item.ip is defined and item.mac is defined %}
network:
  version: 2
  ethernets:
    enp1s0:
      match:
        macaddress: "{{ item.mac }}"
      set-name: "enp1s0"
      addresses:
        - {{ item.ip }}/24
      gateway4: 192.168.150.1
      nameservers:
        addresses:
          - 192.168.150.1
          - 1.1.1.1
{% endif %}
users:
  - name: root
    ssh_authorized_keys:
      - {{ ssh_public_key }}
    lock_passwd: false
chpasswd:
  list: |
    root:{{ root_password | default('kafka123') }}
  expire: False
ssh_pwauth: True
package_update: true
packages:
  - curl
  - wget
  - vim
  - htop
  - net-tools
  - openjdk-21-jdk-headless
runcmd:
  - systemctl restart ssh
